.top-header .top-header-right .top-menu-block ul li .logout {
    color: #ffffff;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif, "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    height: 100%;
    background: transparent;
    outline: transparent;
    border: 1px;
}
