.top-header .top-header-right .language-block ul li .logout, .top-header .top-header-right .language-block ul li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif, "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    height: 100%;
    background: transparent;
    outline: transparent;
    border: 1px;
    margin-left: 1rem;
}

@media (max-width: 1199px){
  .layout-header2 {
    background-color: #ffffff;
    border-bottom: 1px solid #dadada;
  }
}

.theme-slider .slider-banner .slider-img {
    background-image: url("../../images/banners/banner_bg_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-wrapper {
    height: 280px;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.theme-slider .slider-banner .slider-banner-contain h4,
.theme-slider .slider-banner .slider-banner-contain h1 {
    color: #00baf2;
}

.theme-slider .slider-banner .slider-banner-contain h2 {
    color: #ffffff;
}